@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca&display=swap");
body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.75);
  background-color: #f2f2f2;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#546E7A), to(#607D8B));
  background-image: linear-gradient(to top left, #546E7A, #607D8B);
  height: 600px;
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
}

body .container {
  margin: 4vh 2vh;
  padding: 0px;
}

body .container a {
  text-decoration: none;
}

body .container a p {
  padding: 10px;
  background: white;
  border-radius: 50px;
  text-align: center;
}

body .container .sedan {
  margin: 0;
  padding: 40px;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#e38826), to(#e2b54d));
  background-image: linear-gradient(to top left, #e38826, #e2b54d);
  border-radius: 10px 0 0 10px;
}

body .container .sedan h1 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: 'Big Shoulders Display', 'Lexend Deca', sans-serif;
  font-size: 50px;
}

body .container .sedan p {
  margin: 0;
  margin-bottom: 20px;
}

body .container .sedan .sedan-btn p {
  border: 1px white solid;
  color: #e38826;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

body .container .sedan .sedan-btn:hover p {
  border: 1px white solid;
  background: #e38826;
  color: white;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

body .container .suv {
  margin: 0;
  padding: 40px;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#006970), to(#3b9097));
  background-image: linear-gradient(to top left, #006970, #3b9097);
}

body .container .suv h1 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: 'Big Shoulders Display', 'Lexend Deca', sans-serif;
  font-size: 50px;
}

body .container .suv p {
  margin: 0;
  margin-bottom: 20px;
}

body .container .suv .suv-btn p {
  border: 1px white solid;
  color: #006970;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

body .container .suv .suv-btn:hover p {
  border: 1px white solid;
  background: #006970;
  color: white;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

body .container .luxury {
  margin: 0;
  padding: 40px;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#004241), to(#247a78));
  background-image: linear-gradient(to top left, #004241, #247a78);
  border-radius: 0 10px 10px 0;
}

body .container .luxury h1 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: 'Big Shoulders Display', 'Lexend Deca', sans-serif;
  font-size: 50px;
}

body .container .luxury p {
  margin: 0;
  margin-bottom: 20px;
}

body .container .luxury .luxury-btn p {
  color: #004241;
  border: 1px #004241 solid;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

body .container .luxury .luxury-btn:hover p {
  border: 1px white solid;
  background: #004241;
  color: white;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

@media (min-width: 800px) {
  body {
    margin: 5% 10%;
    overflow-y: hidden;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .sedan h1 {
    margin-bottom: 50px;
  }
  .container .sedan p {
    margin-top: 100px;
  }
  .container .sedan .sedan-btn p {
    margin-top: 100px;
  }
  .container .suv h1 {
    margin-bottom: 50px;
  }
  .container .suv p {
    margin-top: 100px;
  }
  .container .suv .suv-btn p {
    margin-top: 100px;
  }
  .container .luxury h1 {
    margin-bottom: 50px;
  }
  .container .luxury p {
    margin-top: 100px;
  }
  .container .luxury .luxury-btn p {
    margin-top: 100px;
  }
}
/*# sourceMappingURL=style.css.map */
